---
layout: page
title: Tags
permalink: /tags/
---

{% comment %}
<ul class="tags">
  {% for tag in site.tags %}
    <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
      <a href="#{{ tag | first | slugify }}">
        {{ tag | first }}
      </a>
    </li>
  {% endfor %}
</ul>

<div id="blog-archives">
  {% assign my_array = "1, 2, 3" | split: "," %}
  <h1>my_array is: {{ my_array }}</h1>
  {% comment %}
  <h1>site.tags is: {{ site.tags }}</h1>
  {% for tag in site.tags %}
    {% capture tag_name %}
      {{ tag | first }}
    {% endcapture %}
    <h2 id="#{{ tag_name | slugify }}">{{ tag_name }}</h2>
    <a name="{{ tag_name | slugify }}"></a>
    {% for posts in site.tags %}
      <h1>posts is: {{ posts }}</h1>
      {% for post in posts %}
        <h1>post is: {{ post }}</h1>
        {% if post.url %}
          <h1>{{ post.name }}</h1>
          <article>
            <h3><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h3>
          </article>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  {% endcomment %}
</div>
{% endcomment %}

<h1>site.tags is {{ site.tags }}</h1>

{% for tag in site.tags %}
  {% if tag[0] == 'javascript' %}
    <h1>tag_name is: {{ tag[0] }}</h1>
    {% comment %}
    <h1>tag[1] is: {{ tag[1] }}</h1>
    {% endcomment %}
    <h1>tag[1][0] is: {{ tag[1][0] }}</h1>
    <h1>tag[1][1] is: {{ tag[1][1] }}</h1>
  {% endif %}
{% endfor %}
